.price {
    display:flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
}
.price p {
    margin: .25em;
}
.price button {
    background-color:#ea1926;
    color: white;
    margin: 1%;
}
.waveSelect select {
    width: 100%;
}

.botSelect select {
    width: 100%;
}

.prices {
    display: flex;
    flex-direction: row-reverse;
}
.prices p {
    margin: .25em 0;
}
