@font-face {
    font-family: 'deceptibots';
    src: url('deceptibots.ttf');
}
body {
    margin: 0;
}
.app {
    display: flex;
    margin: 0;
}
a {
 width: max-content;
 align-self: flex-end;
 margin: 1%;
}
.menu {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 12em;
}

.botlist {
    display: flex;
    flex-direction: column;
    height:50%;
    overflow-y: scroll;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: rgb(230, 228, 228);
}
.botlist p {
    margin: 1% 1%;
    border-bottom:1px dotted rgb(102, 102, 102);
}
.botlist button {
    float: right;
    margin: 0;
    padding: 1px 5px;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(73, 73, 73); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: grey ; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4e4e4e;
  }
h1:nth-of-type(1) {
    font-family: 'deceptibots', sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #ea1926;
    border: 2px solid #ea1926;
    border-radius: 1px;
    margin: 0;
    padding: 2vh 2vw;
}
h1:nth-of-type(2) {
    font-family: 'deceptibots', sans-serif;
    text-align: center;
    background-color: #000;
    color: #ea1926;
    border: 2px solid #ea1926;
    border-radius: 1px;
    margin: 0;
    padding: 2vh 2vw;
}
h1:nth-of-type(3) {
    font-family: 'deceptibots', sans-serif;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 1px;
    margin: 0;
    padding: 2vh 2vw;
}
.hidelist {
    /* background: linear-gradient(to bottom, rgb(255,255,255)20%, #ea1926); */
    background-color:#ea1926;
    color: #fff;
    width: 25px;
    /* padding: 1% 1%; */
    text-align: center;
    border-right: 4px solid #d61623;
    border-left: 4px solid #ec3945;
    /* box-shadow: 0px 0px 2px 0px grey; */
    z-index: 4;
    cursor: pointer;
}
.hidelist p {
    margin: 1em .25em;
    /* padding: 1% 1%; */
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'deceptibots', sans-serif;
    font-weight: 700;
}
.field {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: linear-gradient(to bottom,rgba(255,255,255)10%, rgb(224, 224, 224));
    height: 100vh;
}
.buttonwrapper{
    display: flex;
    flex-direction: column;
}
button {
    font-family: 'deceptibots', sans-serif;
    font-weight: 700;
    margin: 0% 1%;
    padding: 2% 4%;
    border-radius: 2px;
    border: none;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px black;
}
button:hover {
    background-color: #ea1926;
    color: #fff;
}
.fa-first-aid {
    color: rgb(34, 139, 34);
}
.fa-haykal {
    color: rgb(238, 131, 0);
}
.fa-window-close {
    color: rgb(134, 0, 0)
}
.fieldbot {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    background-color: transparent;
    text-align: center;
    margin: 0 1% 1% 1%;
    padding: 1%;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px black;
}
.fieldbot button:nth-child(3):hover {
    background-color: rgb(151, 255, 147);
    cursor: pointer;
}
.fieldbot button:nth-child(4):hover {
    background-color: rgb(255, 196, 123);
    cursor: pointer;
}
.fieldbot button:nth-child(5):hover {
    background-color: rgb(250, 170, 176);
    cursor: pointer;
}
.fieldbot p:nth-child(odd) {
    font-size: 1em;
    margin: 0;
    background-color: darkgrey;
    border-bottom: 1px solid darkslategray;
    border-radius: 5px 5px 0px 0px;
}
.fieldbot p:nth-child(even) {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}
.trash {
    display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
    .buttonwrapper {
        margin: 0 30%;
        width: 33%;
    }
    
    .field {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        background: linear-gradient(to bottom,rgba(255,255,255)10%, rgb(224, 224, 224));
        height: 100vh;
        width:100vw;
    }
    
    .fieldbot {
        height:30%;
        width: 20%;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        background-color: lightgrey;
        text-align: center;
        margin: 0px 2px;
        padding: 1%;
        border-radius: 2px;
    }
    .clear {
        display: none;
        width: 50px;
        text-align: center;
        padding: 1%;
        margin: 1%;
    }
    .trash {
        display: inline-block;
        margin: 1px;
    }
    a {
        width: max-content;
        position: absolute;
        top: 85%;
        left: 91%;
       }
}
@media only screen and (min-width: 1026px) {

    .menu {
        display: flex;
        flex-direction: column;
        height:100vh;
    }
    .botlist {
        display: flex;
        flex-direction: column;
        height:50%;
        overflow-y: scroll;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
    .field {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        flex-flow: wrap;
        background: linear-gradient(to bottom,rgba(255,255,255)10%, rgb(224, 224, 224));
        height: 100vh;
    }
    .fieldbot {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        background-color: lightgrey;
        text-align: center;
        margin: 1% 1%;
        border-radius: 2px;
    }
    .fieldbot button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        width: 100%;
        margin: 4% 0%;
        padding: 2% 4%;
        border-radius: 2px;
        border: none;
        background-color: white;
        cursor: pointer;
    }
    .fieldbot button:nth-child(odd):hover {
        background-color: rgb(151, 255, 147);
        cursor: pointer;
    }
    .fieldbot button:nth-child(even):hover {
        background-color: rgb(255, 178, 147);
        cursor: pointer;
    }
    .trash {
        display: none;
    }
}