<div class="app" ng-init="$ctrl.transformersGet();$ctrl.transformersGet3();$ctrl.transformersGet4();$ctrl.transformersGet2();">
    <div ng-hide="!$ctrl.clicked" class="menu">
        <h1 ng-click="$ctrl.transformersGet(1);$ctrl.hideBots(0)" >Wave 1</h1>
        <div ng-show="$ctrl.clickedBots[0]" class="botlist">
            <div ng-repeat="bot in $ctrl.bots1">
                <p>{{bot.name}} <i ng-click="$ctrl.add(bot)" class="fas fa-plus-circle"></i></p>
            </div>
        </div>
        <h1 ng-click="$ctrl.transformersGet2(2);$ctrl.hideBots(1)">Wave 2</h1>
        <div ng-show="$ctrl.clickedBots[1]" class="botlist">
            <div ng-repeat="bot in $ctrl.bots2">
                <p>{{bot.name}} <i ng-click="$ctrl.add(bot)" class="fas fa-plus-circle"></i></p>
            </div>
        </div>
        <h1 ng-click="$ctrl.transformersGet3(3);$ctrl.hideBots(2)">Wave 3</h1>
        <div ng-show="$ctrl.clickedBots[2]" class="botlist">
            <div ng-repeat="bot in $ctrl.bots3">
                <p>{{bot.name}} <i ng-click="$ctrl.add(bot)" class="fas fa-plus-circle"></i></p>
            </div>
        </div>
        <h1 ng-click="$ctrl.transformersGet4(4);$ctrl.hideBots(3)">Wave 4</h1>
        <div ng-show="$ctrl.clickedBots[3]" class="botlist">
            <div ng-repeat="bot in $ctrl.bots4">
                <p>{{bot.name}} <i ng-click="$ctrl.add(bot)" class="fas fa-plus-circle"></i></p>
            </div>
        </div>
        <p ng-hide="$ctrl.clickedBots[0] || $ctrl.clickedBots[1] || $ctrl.clickedBots[2]|| $ctrl.clickedBots[3]" class="hint">Click above to choose a bot..</p>
    </div>
    <div ng-hide="!$ctrl.clicked" ng-click="$ctrl.hide()" class="hidelist"><i class="fas fa-angle-double-left"></i></div>
    <div ng-hide="$ctrl.clicked" ng-click="$ctrl.hide()" class="hidelist"><i class="fas fa-angle-double-right"></i></div>
    <div class="field">
            <div class="fieldbot" ng-repeat="bot in $ctrl.botArr track by bot.title">
                <button ng-click="$ctrl.mathMin(bot); $ctrl.counterAdd(bot); $ctrl.dreadAdd(bot);$ctrl.skyAdd(bot)"><i class="fas fa-car-crash"></i></button>
                <section class="health">
                    <p>{{bot.name}}</p>
                    <p>Health: <span class="healthnum">{{bot.health}}</span></p>
                    <button ng-click="$ctrl.remove(bot)"><i class="fas fa-window-close"></i></button>
                </section>
                <button ng-click="$ctrl.mathAdd(bot); $ctrl.counterMin(bot); $ctrl.dreadMin(bot);$ctrl.skyMin(bot)"><i class="fas fa-first-aid"></i></button>
            </div>

            <section class="buttonwrapper">
                <i ng-click="$ctrl.clear()" class="clear fas fa-undo-alt"></i>
                <i ng-click="$ctrl.combine(); $ctrl.optMaxCombine();$ctrl.volcanicusCombine()" class="fas fa-compress-arrows-alt"></i>
                <i ng-click="$ctrl.showHelp()" class="fas fa-question-circle"></i>
                <i ng-click="$ctrl.show()" class="fas fa-podcast"></i>
            </section>

            <section class='podcastmodal' ng-show="$ctrl.podcastmodal">
                    <i class="fas fa-times" ng-click="$ctrl.show()"></i>
                <section class="buttonwrapper podcast">
                    <p class="podcastfont">Listen to the Double Pipcast!</p>
                    <img class="podcastimg" src="./podcast/doublepip.png">
                    
                    <div>
                        <a href="https://podcasts.apple.com/us/podcast/double-pipcast/id1474073672?mt=2&app=podcast" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-08-23T00:00:00Z&kind=podcast&bubble=podcasts) no-repeat;width:168px;height:40px;align-self: center"></a>
                        <a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/Ijlt3c6s6fddbru6azbj35x5vk4?t%3DDouble_Pipcast%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16' rel='nofollow' target="_blank"><img class="google" alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a>
                    </div>
                    
                </section>
            </section>

            <section  class="help" ng-show="$ctrl.helpmodal">
                <i class="fas fa-times" ng-click="$ctrl.showHelp()"></i>
                <i class="fas fa-first-aid"></i><p> Heal Transformer</p>
                <i class="fas fa-car-crash"></i><p> Damage Transformer</p>
                <i class="fas fa-window-close"></i><p> Remove Transformer</p>
                <i class="clear fas fa-undo-alt"></i><p> Restart</p>
                <i class="fas fa-compress-arrows-alt"></i><p> Combine</p>
                <!-- <a href="#!/comp2">Price A Card</a> -->
            </section>

    </div>
</div>