<section class="price">
    <i title="Pricing Tool" aria-label="Click to open pricing tool" class="fas fa-times" ng-click="$ctrl.showPrice()"></i>
    <section>
        <p>Price Checker</p>
    </section>

    <section class="waveSelect">
        <select ng-model="wave">
            <option value="" disabled selected hidden>Select Set</option>
            <option>Wave 1</option>
            <option>Wave 2</option>
            <option>Wave 3</option>
            <option>Wave 4</option>
            <option>Wave 5</option>
        </select>
    </section>

    <section class="botSelect">
        <select ng-model="query" ng-show="wave === 'Wave 1'">
            <option ng-repeat="bot in $ctrl.bots1">{{bot.name}} {{bot.title}}</option>
        </select>
        <select ng-model="query" ng-show="wave === 'Wave 2'">
            <option ng-repeat="bot in $ctrl.bots2">{{bot.name}} {{bot.title}}</option>
        </select>
        <select ng-model="query" ng-show="wave === 'Wave 3'">
            <option ng-repeat="bot in $ctrl.bots3">{{bot.name}} {{bot.title}}</option>
        </select>
        <select ng-model="query" ng-show="wave === 'Wave 4'">
            <option ng-repeat="bot in $ctrl.bots4">{{bot.name}} {{bot.title}}</option>
        </select>
        <select ng-model="query" ng-show="wave === 'Wave 5'">
            <option ng-repeat="bot in $ctrl.bots5">{{bot.name}} {{bot.title}}</option>
        </select>
        <button ng-click="$ctrl.getCard(query);">SEARCH</button>
    </section>

    <section class="cardInfo">
        <p id="pricingErr" ng-if="$ctrl.errorMsg">Sorry, {{$ctrl.errorMsg}}</p>
        <p>{{$ctrl.card.name}}</p>
        <img src="{{$ctrl.card.imageUrl}}">
    </section>
    
    <table ng-if="$ctrl.card" title="card price table" aria-label="card price table" class="prices">
        <tr title="card price row" aria-label="card price row">
            <td id="td1" title="lowest transacted price" aria-label="lowest transacted price"><i class="fas fa-arrow-down"></i></td>
            <td id="td2" title="median transacted price" aria-label="median transacted price"><i class="fas fa-minus"></i></td>
            <td id="td3" title="highest transacted price"aria-label="highest transacted price"><i class="fas fa-arrow-up"></i></td>
            <td id="td4" title="market price" aria-label="market price"><i class="fas fa-chart-line"></i></td>
        </tr>
        <tr>
            <td title="Low Price" aria-labelledby="td1">${{$ctrl.price.lowPrice}}</td>
            <td title="Mid Price" aria-labelledby="td2">${{$ctrl.price.midPrice}}</td>
            <td title="High Price" aria-labelledby="td3">${{$ctrl.price.highPrice}}</td>
            <td title="Market Price" aria-labelledby="td4">${{$ctrl.price.marketPrice}}</td>
        </tr>
    </table>
</section>