<div class="app">
    <div ng-hide="!$ctrl.clicked" class="menu">
        <h1 ng-click="$ctrl.transformersGet(1);$ctrl.hideBots(0)" >Wave 1</h1>
        <div ng-show="$ctrl.clickedBots[0]" class="botlist">
            <div ng-repeat="bot in $ctrl.bots1">
                <p>{{bot.name}} <button ng-click="$ctrl.add(bot)">Add</button></p>
            </div>
        </div>
        <h1 ng-click="$ctrl.hideBots(1)">Wave 2</h1>
        <div ng-show="$ctrl.clickedBots[1]" class="botlist">
            <div ng-repeat="bot in $ctrl.bots2">
                <p>{{bot.name}} <button ng-click="$ctrl.add(bot)">Add</button></p>
            </div>
        </div>
        <h1 ng-click="$ctrl.hideBots(2)">Wave 3</h1>
        <div ng-show="$ctrl.clickedBots[2]" class="botlist">
            <div ng-repeat="bot in $ctrl.bots3">
                <p>{{bot.name}} <button ng-click="$ctrl.add(bot)">Add</button></p>
            </div>
        </div>
        <p ng-hide="$ctrl.clickedBots[0] || $ctrl.clickedBots[1] || $ctrl.clickedBots[2]" class="hint">Click above to choose a bot..</p>
    </div>
    <div ng-hide="!$ctrl.clicked" ng-click="$ctrl.hide()" class="hidelist"><p>< < HIDE</p></div>
    <div ng-hide="$ctrl.clicked" ng-click="$ctrl.hide()" class="hidelist"><p>CARDS > ></p></div>
    <div class="field">
            <div class="fieldbot" ng-repeat="bot in $ctrl.botArr track by bot.title">
                <p>{{bot.name}}</p>
                <p>Health: {{bot.wrench}}</p>
                <button ng-click="$ctrl.mathAdd(bot); $ctrl.counterMin(bot); $ctrl.dreadMin(bot)"><i class="fas fa-first-aid"></i></button><button ng-click="$ctrl.mathMin(bot); $ctrl.counterAdd(bot); $ctrl.dreadAdd(bot)"><i class="fas fa-haykal"></i></button><button ng-click="$ctrl.remove(bot)"><i class="fas fa-window-close"></i></button>
            </div>
            <section class="buttonwrapper">
                <button class="clear" ng-click="$ctrl.clear()">RESTART</button>
                <button class="trash" ng-click="$ctrl.clear()"><i class="far fa-trash-alt"></i></button>
                <button ng-click="$ctrl.combine(); $ctrl.optMaxCombine()">Combine</button>
                <button ng-click="$ctrl.show()">Podcast</button>
                <!-- <button ng-click="$ctrl.transformersGet()">GET REQ</button> -->
            </section>
            <section class='podcastmodal' ng-show="$ctrl.podcastmodal">
                    <i class="fas fa-times" ng-click="$ctrl.show()"></i>
                <section class="buttonwrapper podcast">
                    <p class="podcastfont">Listen to the Double Pipcast!</p>
                    <img class="podcastimg" src="./podcast/doublepip.png">
                    
                    <div>
                        <a href="https://podcasts.apple.com/us/podcast/double-pipcast/id1474073672?mt=2&app=podcast" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-08-23T00:00:00Z&kind=podcast&bubble=podcasts) no-repeat;width:168px;height:40px;align-self: center"></a>
                        <a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/Ijlt3c6s6fddbru6azbj35x5vk4?t%3DDouble_Pipcast%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16' rel='nofollow' target="_blank"><img class="google" alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a>
                    </div>
                    
                </section>
            </section>
    </div>
</div>